application:
	scanDirs: FALSE
	scanComposer: FALSE


services:
	- Zenify\ModularPresenterMapping\Tests\DI\ModularPresenterMappingSource\PresenterMappingProvider


extensions:
	- Zenify\ModularPresenterMapping\DI\ModularPresenterMappingExtension
